config phantun-server 'config'
	option enabled '0'

	# Port to listen for incoming TCP connections
	option local_port '4567'

	# Address:port to forward UDP packets to
	option remote_addr '127.0.0.1:1234'

	# TUN interface name (auto-selected if empty)
	option tun_name ''

	# TUN interface local IPv4 address
	option tun_local '192.168.201.1'

	# TUN interface peer IPv4 address
	option tun_peer '192.168.201.2'

	# TUN interface local IPv6 address
	option tun_local6 'fcc9::1'

	# TUN interface peer IPv6 address
	option tun_peer6 'fcc9::2'

	# Disable IPv6 address assignment to TUN interface
	option ipv4_only '0'

	# File whose content is sent as first data packet after TCP handshake
	option handshake_packet ''
